.headcontent a .logo {
    width: 60px;
    float: left;
    margin: 15px 45px;
    margin-right: 80px;
}

.headcontent .head_nav {
    float: left;
    margin-top: 35px;
}
.headcontent .head_nav  ul li{
    border-right: 1px solid #000;
}

.container {
    width: 100%;
    padding: 0 0;
    font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

.container a img {
    width: 100%;
}

.container .row .col-md-3 {
    padding: 0;
}

.container .row .col-md-6 {
    padding: 0;
}

.footer {
    font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    background: #000;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

.footer .footer_nav  ul li{
    border-right: 1px solid #fff;
}

.footer .copyright {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 11px;
}
