.container {
    width: 100%;
    padding: 0 0;
    font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    background: url('../img/common/bg.jpg') no-repeat;
    background-size:cover;
}

.container a img {
    width: 100%;
}

.container .row {
    width: 100%;
    margin: 0 0;
}

.container .row .col-md-3 {
    padding: 0;
}

.container .row .col-md-6 {
    padding: 0;
}

.container .list-group-item {
    width: auto;
    margin: 0 auto;
    margin-bottom: 25px;
    padding-bottom: 0;
    border: 1px solid #000;
}

.container .list-group-item .list-group-item-heading {
    color: #0000cd;
}

.container .list-group-item-text {
    width: auto;
    color: #000;
    margin: 0 auto;
    padding: 10px 0;
    border-top: 1px solid #000;
}

.line {
    padding-bottom: 25px;
    margin-bottom:35px;
    background-image: url('../img/common/line.gif');
    background-position: bottom;
    background-repeat: repeat-x;
}

.col-xs-12 {
    padding: 0 0;
}

.col-xs-3 {
    padding: 0 0;
}

.col-xs-6 {
    padding: 0 0;
}
