html, body {
    height: 100%;
}
a {
    color: #fff;
}

a img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.head_bg {
    height: 80px;
    background-color: rgba(0, 0, 0, 1);
}

.headcontent {
    height: auto;
    background-image: url('../img/common/main.jpg');
    height: 0;
    padding-top: 60%;
    background-size: cover;
}

.pull-left {
    margin-top: 30px;
    border-right: 1px solid #fff;
}

.logo {
    width: 60px;
    padding:0;
    margin-top: 10px;
    margin-left: 20px;
}

.footer {
    font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    background: #000;
    color: #fff;
    text-align: center;
}

.footer .company .companybox {
    padding: 10px 0;
    padding-top:30px;
}

.footer .copyright {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 11px;
}

.foot_logo {
    width: 300px;
}

.margin-bottom_50 {
    margin-bottom: 50px;
}