a {
    color: #fff;
}

a img {
    width: 100%;
}

.footer {
    font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    background: #000;
    color: #fff;
    text-align: center;
}

.footer .company .companybox {
    padding: 10px 0;
    padding-top: 30px;
}

.footer .copyright {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 11px;
}

.foot_logo {
    width: 300px;
}

.margin-bottom_50 {
    margin-bottom: 50px;
}

.navbar {
    min-height: 80px;
}

.navbar-default {
    background-color: rgba(0, 0, 0, 0.8);
    border-color: rgba(0, 0, 0, 0.8);
}

.head_logo {
    padding: 10px 25px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 30px 35px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: rgba(180, 0, 0, 0.6);
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}